<label class="viInput {{labelClass}}">
  {{#LogProps}}{{/LogProps}}
  <input class="viInput__input {{#if error}}viInput__input_error{{/if}}{{class}}"
         placeholder="{{label}}"
         name="{{name}}"
         type={{#if type}}{{type}}{{else}}"text"{{/if}}
         autocomplete="off" 
         value="{{value}}"
         id={{name}}
  />

  {{#if label}}
    {{#Typography as="span" style="text-m" className="viInput__placeHolder"}}
      {{label}}
    {{/Typography}}
  {{/if}}
  
  {{#if error}}
    {{#Typography as="span" style="text-xs" className="viInput__error"}}
      {{error.message}}
    {{/Typography}}
  {{/if}}
</label>
