<main class="profilePage">
  <a href='#' data-page='nav' class="profilePage__back">
    <--
  </a>
  <article class="profilePage__userDataContainer">
    {{> Input type='file' class='editAvatar'}}

    {{#Typography as='p' style='text-l'}}{{name}}{{/Typography}}
    
    {{#if edit}}
      {{#if (GetEditType edit editType)}}
        {{#each userData as |data|}}
          {{> Input
            label=data.placeHolder
            name=data.name
            type=data.type
            error=data.error
            value=data.value
          }}
        {{/each}}
      {{else}}
        {{> Input label='Старый пароль' name='oldPassword' type='password'}}
        {{> Input label='Новый пароль' name='newPassword' type='password'}}
        {{> Input label='Повторите новый пароль' name='newPassword' type='password'}}
      {{/if}}
      {{>Button type='primary' label='Сохранить'}}
    {{else}}
      <div class="profilePage__userData">
        {{#each userData as |data|}}
          <p class="profilePage__element">{{data.placeHolder}}{{data.value}}</p>
        {{/each}}
      </div>
      <div class="profilePage__userActions">
        <a href='#' data-page='profileEditData' class="profilePage__userActions">Изменить данные</a>
        <a href='#' data-page='profileEditPassword' class="profilePage__userActions">Изменить пароль</a>
        <a href='#' data-page='nav' class="profilePage__userActions profilePage__userActions_red">Выйти</a>
      </div>
    {{/if}}
    
  </article>
</main>